body {
  font-family: "Lato", sans-serif;
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-default);
  line-height: var(--line-height);
  color: var($color-grey-dark);
  padding: var(--padding-small);
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: var(--margin-default);

  &--main {
    display: block;
    font-size: var(--font-size-largest);
    font-weight: var(--font-weight-default);
    letter-spacing: var(--letter-spacing-large);
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
    /* animation-delay: 3s;
    animation-iteration-count: 2; */
  }
  &--sub {
    display: block;
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-heavier);
    letter-spacing: var(--letter-spacing-medium);
    animation: moveInRight 1s ease-out;
  }
}