.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem;
    
    &--p1 {
      top: 0;
      left: 0;
      z-index: 3;

      &:hover {
        top: 5rem;
        left: 20%;
      }
    }
  
    &--p2 {
      top: 5rem;
      right: 20%;
      z-index: 2;
    }
  
    &--p3 {
      top: 10rem;
      right: 0;
      z-index: 1;

      &:hover {
        top: 5rem;
        right: 20%;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.5) translateY(-3px);
      box-shadow: 0 2.5rem 5.5rem rgba($color-black, .6);
      z-index: 50;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.9);
    opacity: 0;
  }
}