// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// $color-primary: #ba1111;
// $color-primary-light: #d68181;
// $color-primary-dark: #850101;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// /* CUSTOM PROPERTIES */
// :root {
//   --html-font-size: 62.5%;
//   --font-weight-default: 400;
//   --font-weight-heavier: 700;
//   --font-size-default: 16px;
//   --font-size-larger: 2rem;
//   --font-size-largest: 6rem;
//   --line-height: 1.7;
//   --padding-small: 3rem;
//   --margin-default: 6rem;
//   --header-height: 95vh;
//   --header-position-top: 4rem;
//   --header-position-left: 4rem;
//   --letter-spacing-medium: 1.75rem;
//   --letter-spacing-large: 3.5rem;
//   --logo-height: 3.5rem;
//   --logo-translate-distance: 80rem;
//   --text-box-position-top: 40%;
//   --text-box-position-left: 50%;
//   --animation-distance: 10rem;
// }